---
apiVersion: v1
kind: Secret
metadata:
  namespace: takahe
  name: takahe-secret
stringData:
  TAKAHE_DATABASE_SERVER: "postgres://<username>:<password>@postgres/takahe"
  TAKAHE_SECRET_KEY: "takahe-secret-key"
  TAKAHE_EMAIL_BACKEND: "console://console"
  POSTGRES_PASSWORD: "postgres-password"
